@import "../index.scss";

#Auth-Page {
  @apply w-screen h-screen text-center p-5
        flex flex-col justify-between items-center;

  > main {
    #Auth {
      @apply w-screen;
      .row {
        @apply w-full flex justify-between p-10;

        .Local-Auths,
        .Provided-Auths {
          @apply flex flex-col w-[600px] gap-5 justify-center items-center p-10
            text-xl;

          button {
            @apply w-full flex gap-5 justify-center;
          }
        }
      }
    }

    #Auth-Local {
      #Local-Backward {
        @apply absolute  hover:scale-90;
      }

      #Local {
        @apply w-[400px]
          flex flex-col justify-center items-center gap-5;

        > #Submit-Button {
          @apply flex justify-between text-xl;

          > svg > path {
            fill: black;
          }
        }
      }
    }
  }
}

#home {
  @apply bg-white w-[100vw] h-[100vh] flex flex-row;
  * {
    color: black;
  }
  #left-bar {
    @apply bg-white w-[10rem] h-[100vh] flex flex-col pt-[10rem] border-4 border-slate-200;
  }
  #icon {
    margin-bottom: 3rem;
  }
  path {
    fill: black;
    @apply hover:cursor-pointer;
  }
}

#message-menu {
  @apply bg-white w-[100vw] h-[100vh] flex flex-row;
  #search-component {
    @apply bg-white h-[100vh] w-[20rem] border-r-4 border-slate-200;
    form {
      @apply flex items-center justify-center pl-[0.5rem] border-y-4 border-slate-200;
    }

    #search-icon {
      @apply pr-[0.5rem];
    }
    input {
      @apply font-semibold w-[100%] text-black placeholder:text-slate-500 text-center py-[0.5rem] text-xl focus:text-left pr-[2rem] focus:outline-0;
    }
    .input-text-left {
      @apply text-left;
    }
  }

  #synapse-header {
    @apply bg-white flex items-center h-[5rem] border-2 border-t-0 border-slate-200 pl-[1rem];
  }

  .chat:hover {
    cursor: pointer;
  }

  .chat-container {
    display: flex;
    flex-direction: column-reverse;
    background-color: aqua;
    width: 100%;
    height: 100%;
  }

  .chat {
    background-color: #d9d9d9;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 4rem;
    display: flex;
    text-align: center;
    align-items: center;


    .chat-text {
      background-color: #D9D9D9;
      width: 100%;
      margin-left: 0.6rem;

      p {
        text-align: left;
      }
    }

    img {
      height: 2rem;
      width: 2rem;
      border-radius: 1rem;
    }
  }
  .contact-name {
    font-weight: 400;
    font-size: 1.2rem;

  }

  .chat-menu {
    @apply bg-white h-[100vh] w-[100%];

    .chat-nav {
      @apply bg-white h-[8%] flex items-center border-b-2 border-l-0 border-r-2 border-t-0 border-slate-200;
      justify-content: left;
    }
    .user-picture {
      @apply w-[2.5rem] h-[2.5rem] ml-[5rem] rounded-3xl;
    }
    .user-username {
      @apply ml-[0.5rem] text-lg;
    }
    .user-status {
      @apply ml-[0.4rem] text-lg;
    }

    .chat-left {
      @apply w-[50%] h-[100%] bg-white flex items-center;
      
      .user-info {
        @apply ml-[0.5rem]
      }
    }
    .chat-right {
      @apply w-[50%] h-[100%] flex bg-white flex items-center;
      justify-content: right;

      .user-icon {
        margin-right: 1.5rem;
      }
    }
  }
}


@media screen and (max-width: 600px) {
  #Login-Page {
    > header > h3 {
      @apply text-3xl;
    }

    #Auth-Local {
      @apply p-5 justify-center;
      width: 100vw !important;

      #Local-Backward {
        left: 5vw;
      }
    }

  }
}
  